body {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

#background {
  background-color: #a4a6d3;
  border: 10px solid white;
  max-height: 550px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

img {
  width: 440px;
  height: 200px;
  border-radius: 7px 7px 0px 0px;
  position: relative;
  z-index: 1;
}

h3 {
  background-color: pink;
  padding: 0px 0px 0px 10px;
  border-radius: 7px 25px 25px 7px;
  position: relative;
  max-width: 200px;
  margin-bottom: -40px;
  margin-left: -7px;
  z-index: 2;
}

#content {
  background-color: white;
  margin-top: -7px;
  border-radius: 0px 0px 7px 7px;
  max-width: 400px;
  padding: 20px;
}

#Novus {
  font-size: 30px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 10px;
}

b {
  color: gray;
  font-size: 22px;
}

p {
  font-size: 18px;
  margin: 0px;
}

@media (max-width: 530px) {
  img {
    width: 100%;
    height: auto;
  }

  #content {
    max-width: 100%;
    padding: 15px;
  }

  #Novus {
    font-size: 24px;
  }

  b {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }
}
