body {
  background-color: rgba(128, 128, 128, 0.603);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #daa520;
  padding: 50px 20px;
  box-shadow: 0px 0px 5px 2px rgb(82, 82, 82);
  margin-bottom: 50px;
}

h1 {
  margin-top: 0px;
}

#comments {
  font-size: 17px;
}

span {
  font-weight: bold;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  gap: 30px;
}

.click {
  max-width: 300px;
}

button{
  background-color: #daa520;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .set {
    flex-direction: column;
  }
}
